<div id="login-div">  
  <div class="errmsg">{{errmsg}}</div>
  
  <div class="username"><h1>Username</h1></div>
  <input type="text" ng-model="userID">

  <div class="password"><h1>Password</h1></div>
  <input type="password" ng-model="password">

  <button ng-click="mySubmit()"><h1>Login</h1></button>
  
  <button class="g-signin2" data-onsuccess="onSignIn"></button>
  <script>
    function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
    }</script>
  
  <div class="signUp"><h2>Don't have an account? <a href="/addUser">Sign Up here!</a></h2></div>  
</div>