<div id ="profile-div">
  <div class = "top-half">
    <div class = "profile-info split">
      <h1>{{username}}</h1>
      <div class="profile-fields split">
        <h3>Age:</h3><br> 
        <h3>Gender:</h3><br> 
        <h3>State:</h3>
      </div>
      <div class = "profile-values split"> 
        <h3>{{age}}</h3><br>
        <h3>{{gender}}</h3><br>
        <h3>{{state}}</h3>
      </div>
      <div class="clear"></div>
    </div>

    <div class = "img-row split">
      <img ng-src="img/profile">
      <div class="clear"></div>
    </div>
    <div class = "clear"></div>
  </div>

  <div class = "bottom-half">
    <div class = "titles">
      <div class = "split"><h2>Asked Questions</h2></div>
      <div class = "split"><h2>Answered Questions</h2></div>
      <div class = "clear"></div>
    </div>
    <div class = "askedQuestions split">
      <div class = "row" ng-repeat = "q in askedQuestions">
        <div class = "qText"><h2>{{q.text}}</h2></div>
        <div class = "statsButton" ng-click="goStats(q._id)"> <h2>Stats</h2></div>
        <div class = "clear"></div>
      </div>
    </div>
    <div class = "askedQuestions split">
      <div class = "row" ng-repeat = "q in answeredQuestions">
        <div class = "qText"><h2>{{q.text}}</h2></div>
        <div class = "statsButton" ng-click="goStats(q._id)"> <h2>Stats</h2></div>
        <div class = "clear"></div>
      </div>
    </div>
  </div>
</div>