 <div id ="stats-div">
   <div class = "row">
     <div class = "col-xs-2"></div>     
     <div class = "col-xs-2 text-center">
       <h2>{{response_1}}</h2>
     </div>
     <div class = "col-xs-6 text-center">
       <h1>{{question}}</h1>   
     </div>
     <div class = "col-xs-2 text-center">
       <h2>{{response_2}}</h2>
     </div>
   </div>
   
   <div ng-repeat="(field,valueList) in fieldWidths">
     <div class = "row row-with-top-border">
       <div class = "col-xs-4"></div>     
       <div class = "col-xs-6 text-center"><h1>{{field}}</h1></div>   
       <div class = "col-xs-2"></div>     
     </div>

     <div ng-repeat="valueTitle in valueList">
       <div class = "row">    
         <div class = "col-xs-2 text-right"><h2>{{valueTitle.description}}</h2></div>     
         <div class = "col-xs-2"><h3>{{valueTitle.positive}}</h3></div>
         <div class = "col-xs-6">
           <div class="progress-bar">
             <div class="pos-resp-bar" ng-style="{width : valueTitle.positive}"></div>             
             <div class="neg-resp-bar" ng-style="{width : valueTitle.negative}"></div>   
           </div>
         </div>
         <div class = "col-xs-2"><h3>{{valueTitle.negative}}</h3></div>
       </div>
     </div>
   </div>
</div>            