<!doctype HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <base href="/">

    <title>Quick Stupid Poll</title>

    <!-- CSS -->

    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type = "text/css" href="./css/style.css"> <!-- custom styles -->

    <!-- JS -->
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-route/angular-route.js"></script>

    <!--ANGULAR CUSTOM -->
    <script src="js/appRoutes.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/MainCtrl.js"></script>
    <script src="js/controllers/StatsCtrl.js"></script>
  </head>
  <body ng-app="sampleApp" ng-controller="StatsController">
    <div class="main-container stats-view">
      <header>
        <div id="logo">QSP</div>
        <div id="menu-icon">M</div>
      </header>
      
      <div id ="question">
        <div id="pos-resp-text">
          <span><h2>{{response_1}}</h2></span>
        </div>
        <div id = "question-text">
          <h1>{{question}}</h1>
        </div>
        <div id = "neg-resp-text">
          <h2>{{response_2}}</h2>
        </div>
      </div>
      
      <div id = "total">
        <div class="left-col">
          <h3>{{totalPositive}}%</h3>
        </div>
        <div class="progress-bar">
          <div class="pos-resp-bar" ng-style="{width : width_pos}"></div>
          <div class="neg-resp-bar" ng-style="{width : width_neg}"></div>
        </div>
        <div class ="right-col">
          <h3>{{totalNegative}}%</h3>
        </div>
          
  </body>
</html>
  
  