body, html, nav, ol, h1, h2{
  margin      : 0;
  padding     : 0;
  text-align  : center;
}

h1, input     {font-size : 50px;}
h2, nav ol li {font-size : 35px;}

body, html {  height : 100%;}

nav, nav ol{ background-color : #000;}

nav ol li{
  background-color : #000;
  border-color     : transparent #FFF #FFF transparent;
  border-style     : solid;
  border-width     : 10px;
  box-sizing       : border-box;
  color            : #FFF;
  float            : left;
  list-style       : none;
  margin-right     : 1.25%;  
  transition       : 0.25s;
  width            : 19%;
}

nav ol li:hover{
  background-color : #CCC;
  border-color : transparent #AAA #AAA transparent;
  color : #AAA;  
}

nav ol li:active, nav ol li.active{
  background-color : #FFF;
  border-color     : transparent #000 #000 transparent;
  color            : #FFF;  
}

nav ol li:last-child{
  margin-right : 0;
}

.container{
  position          : absolute;
  bottom            : 0;
  top               : 160px;
  width             : 100%;
  background-color  : rgba(0,0,255,0.25);
}

.container>div{
  height   : 100%;
  position : absolute;
  width    : 100%;  
}

.container>div>*{
  position : relative;
  width : 100%;
  box-sizing : border-box;
}
/*---- LOGIN VIEW ----- */
#login-div input{
  margin-left : 25%;
  width       : 50%;
  display     : block;
}

#login-div div.errmsg{
  color       : #F00;
  font-size   : 25px;
  height      : 30px;
  margin-top  : 10%;
}

#login-div button{
  margin-top  : 5%;
  width : 25%;
  margin-left : auto;
  margin-right : auto;
}

#login-div div         {  text-align : center;}
#login-div div.username{  margin-top : 40%;}
#login-div div.password{  margin-top : 5%;}
#login-div div.signUp  {  margin-top : 5%;}

/*---- ADDUSER VIEW ----- */
#addUser-div input{
  margin-left : 25%;
  width       : 50%;
  display     : block;
}

#addUser-div div.errmsg{
  color       : #F00;
  font-size   : 25px;
  height      : 30px;
  margin-top  : 10%;
}

#addUser-div button{
  margin-top  : 5%;
  width : 40%;
  margin-left : auto;
  margin-right : auto;
}

#addUser-div .userdata{
  width : 30%;
  margin-right : 5%;
  margin-top : 5%;
  float : left;
}

#addUser-div .userdata:last-of-type{
  margin-right : 0;
}

#addUser-div .userdata>*{
  width : 100%;
  margin-left : 0;
}

#addUser-div div         {  text-align : center;}
#addUser-div div.username{  margin-top : 40%;}
#addUser-div div.password{  margin-top : 5%;}
#addUser-div div.signUp  {  margin-top : 5%;}
#addUser-div option      {  font-size  : 35px;}
#addUser-div select      {  font-size  : 50px;}

/*---- HOME VIEW ----- */
#home-div .questionBox{
  height : 55%;
  background-color : #999;
  border-color : transparent #777 #777 transparent;
  border-width : 25px;
  border-style : solid;
  display : table;
}

#home-div .questionBox h2{
  left : -25px;
  top  : -25px;
  color : white;
  margin : 0;
  position : absolute;
}

#home-div div.questionText{
  display : table-cell;
  vertical-align : middle;
}

#home-div .answerRow{
  height : 30%;
}

#home-div .answerRow div{
  box-sizing : border-box;
  border-width : 25px;
  border-style : solid;
  height : 100%;
  transition : 1s;
  float : left;
  width : 50%;
}

#home-div .answerRow div:first-child{
  background-color : #F99;
  border-color     : transparent #F77 #F77 transparent;
}

#home-div .answerRow div:first-child:active{
  background-color : #F77;
  border-color     : transparent #F55 #F55 transparent;
}

#home-div .answerRow div:last-of-type{
  background-color : #99F;
  border-color     : transparent #77F #77F transparent;
}

#home-div .answerRow div:last-child:active{
  background-color : #77F;
  border-color     : transparent #55F #55F transparent;
}

#home-div .abstainRow{
 height : 15%; 
  width : 100%;
  color : white;
  background-color : #000;
  border-width : 25px;
  border-style : solid;
  border-color : transparent #222 #222 transparent;
  transition : 1s;
}

/*---- ADDQUESTION VIEW ----- */
#addQuestion-div{
  background-color : #AAA;
  border-color  : transparent #888 #888 transparent;
  border-width : 25px;
  border-style  : solid;
  overflow-y : scroll;
}

#addQuestion-div #questionText{
  border-color  : transparent black black transparent;
  border-width : 25px;
  border-style  : solid;
  font-size : 50px;
  overflow-y : scroll;
}

#addQuestion-div input, #addQuestion-div textarea{
  font-size : 36px;
  width : 100%;
}

#addQuestion-div input[type="checkbox"] + label{
  width : 100%;
  height : 100%;
}

#addQuestion-div input[type="checkbox"] + label>div{
  width : 100%;
  height : 100%;
  color : #2E0854;
  font-size : 30px;
  border : #72587F 10px solid;
  border-color : transparent #72587F #72587F transparent;
}

#addQuestion-div input[type="checkbox"]:checked + label>div{
  background-color : #72587F;
  border-width : 10px;
  border-style : solid;
  border-color : transparent #2E0854 #2E0854 transparent;
  color : white;
  box-styling : border-box;
}

#addQuestion-div input[type="checkbox"]{
  display : none;
}

#addQuestion-div #customTag{
  border-width : 10px;
  border-style : solid;
  border-color : transparent #72587F #72587F transparent;
}

#addQuestion-div #Response1{
  border-width : 10px;
  border-style : solid;
  border-color : transparent #F77 #F77 transparent;
}

#addQuestion-div #Response2{
  border-width : 10px;
  border-style : solid;
  border-color : transparent #77F #77F transparent;
}