*{
  box-sizing : border-box;
}
body, html, nav, ol, h1, h2, h3{
  margin      : 0;
  padding     : 0;
  text-align  : center;
}

h1, input     {font-size : 50px;}
h2, nav ol li {font-size : 35px;}

body, html {  height : 100%;}

nav, nav ol{ background-color : #000;}

nav ol li{
  background-color : #000;
  border-color     : transparent #FFF #FFF transparent;
  border-style     : solid;
  border-width     : 10px;
  box-sizing       : border-box;
  color            : #FFF;
  float            : left;
  list-style       : none;
  margin-right     : 1.25%;  
  transition       : 0.25s;
  width            : 19%;
}

nav ol li:hover{
  background-color : #CCC;
  border-color : transparent #AAA #AAA transparent;
  color : #AAA;  
}

nav ol li:active, nav ol li.active{
  background-color : #FFF;
  border-color     : transparent #000 #000 transparent;
  color            : #FFF;  
}

nav ol li:last-child{
  margin-right : 0;
}

.container{
  position          : absolute;
  bottom            : 0;
  top               : 160px;
  width             : 100%;
  background-color  : rgba(0,0,255,0.25);
}

.clear{  clear : both;}

.container>div{
  height   : 100%;
  position : absolute;
  width    : 100%;  
}

.container>div>*{
  position : relative;
  width : 100%;
  box-sizing : border-box;
}
/*---- LOGIN VIEW ----- */
#login-div input{
  margin-left : 25%;
  width       : 50%;
  display     : block;
}

#login-div div.errmsg{
  color       : #F00;
  font-size   : 25px;
  height      : 30px;
  margin-top  : 10%;
}

#login-div button{
  margin-top  : 5%;
  width : 25%;
  margin-left : auto;
  margin-right : auto;
}

#login-div div         {  text-align : center;}
#login-div div.username{  margin-top : 40%;}
#login-div div.password{  margin-top : 5%;}
#login-div div.signUp  {  margin-top : 5%;}

/*---- ADDUSER VIEW ----- */
#addUser-div input{
  margin-left : 25%;
  width       : 50%;
  display     : block;
}

#addUser-div div.errmsg{
  color       : #F00;
  font-size   : 25px;
  height      : 30px;
  margin-top  : 10%;
}

#addUser-div button{
  margin-top  : 5%;
  width : 40%;
  margin-left : auto;
  margin-right : auto;
}

#addUser-div .userdata{
  width : 30%;
  margin-right : 5%;
  margin-top : 5%;
  float : left;
}

#addUser-div .userdata:last-of-type{
  margin-right : 0;
}

#addUser-div .userdata>*{
  width : 100%;
  margin-left : 0;
}

#addUser-div div         {  text-align : center;}
#addUser-div div.username{  margin-top : 40%;}
#addUser-div div.password{  margin-top : 5%;}
#addUser-div div.signUp  {  margin-top : 5%;}
#addUser-div option      {  font-size  : 35px;}
#addUser-div select      {  font-size  : 50px;}

/*---- HOME VIEW ----- */
#home-div .questionBox{
  height : 55%;
  background-color : #999;
  border-color : transparent #777 #777 transparent;
  border-width : 25px;
  border-style : solid;
}

#home-div .questionBox h2{
  left : -25px;
  top  : -25px;
  color : white;
  margin : 0;
  position : absolute;
}

#home-div .table{
  display : table;
}

#home-div .table > .centeredText{
  display : table-cell;
  vertical-align : middle;
}

#home-div .answerRow{
  height : 30%;
}

#home-div .answerRow > div{
  box-sizing : border-box;
  border-width : 25px;
  border-style : solid;
  height : 100%;
  transition : 1s;
  float : left;
  width : 50%;
}

#home-div .answerRow > div:first-child{
  background-color : #F99;
  border-color     : transparent #F77 #F77 transparent;
}

#home-div .answerRow > div:first-child:active{
  background-color : #F77;
  border-color     : transparent #F55 #F55 transparent;
}

#home-div .answerRow > div:last-of-type{
  background-color : #99F;
  border-color     : transparent #77F #77F transparent;
}

#home-div .answerRow > div:last-child:active{
  background-color : #77F;
  border-color     : transparent #55F #55F transparent;
}

#home-div .abstainRow{
 height : 15%; 
  width : 100%;
  color : white;
  background-color : #000;
  border-width : 25px;
  border-style : solid;
  border-color : transparent #222 #222 transparent;
  transition : 1s;
}

/*---- ADDQUESTION VIEW ----- */
#addQuestion-div{
  background-color : #AAA;
  border-color  : transparent #888 #888 transparent;
  border-width : 25px;
  border-style  : solid;
  overflow-y : scroll;
}

#addQuestion-div>div{
  display : block;
  float : left;
  clear : both;
  margin-bottom: 100px;
}

#addQuestion-div #questionText{
  border-color  : transparent black black transparent;
  border-width : 25px;
  border-style  : solid;
  font-size : 50px;
  width : 75%;
  margin-left : auto;
  margin-right : auto;
  overflow-y : scroll;
}

#addQuestion-div input, #addQuestion-div textarea{
  font-size : 36px;
}

/* #addQuestion-div #tags h1{
  float : none;
} */

#addQuestion-div label{
  width : 24%;
  font-weight : bold;
  margin-top : 10px;
  float : left;
  margin-right : 1.3333333%;
  height : 100%;
  color : #2E0854;
  font-size : 35px;
  border : #72587F 10px solid;
  border-color : transparent #72587F #72587F transparent;
}

#addQuestion-div input[type="checkbox"]:checked + label{
  background-color : #72587F;
  border-color : transparent #2E0854 #2E0854 transparent;
  color : white;
}

#addQuestion-div #Tags div:nth-child(4n+2) label{
  margin-right : 0;
}

#addQuestion-div input[type="checkbox"]{
  display : none;
}

#addQuestion-div #customTag{
  border-width : 10px;
  border-style : solid;
  border-color : transparent #72587F #72587F transparent;
  width : 49.333%;
  margin-right : 0%;
  margin-top   : 10px;
  float : left;
  font-size : 35px;
  font-weight : bold;
  color : #2E0854;
}

#addQuestion-div #Response1, #addQuestion-div #Response2{
  width : 49%;
  float : left;
  border-width : 10px;
  border-style : solid;
}

#addQuestion-div #Response1{
  margin-right : 1%;
  border-color : transparent #F77 #F77 transparent;
}

#addQuestion-div #Response2{
  margin-left : 1%;
  border-color : transparent #77F #77F transparent;
}

#addQuestion-div button{
  width : 40%;
  margin-left : auto;
  margin-right : auto;
}

/*---- ASKEDQUESTIONS VIEW ----- */
#asked-questions-div{
  box-sizing : border-box;
  border-color : transparent #666 #666 transparent;
  border-width : 25px;
  border-style : solid;
  background-color : #888;
  overflow-y : scroll;
}

#asked-questions-div .row{
  width : 100%;
  float : left;
  display : inline-block;
}

#asked-questions-div .row .col-xs-10{
  width : 80%;
  float : left;
}

#asked-questions-div .row .col-xs-10 h2{
  text-align : left;
}

#asked-questions-div .row .col-xs-2{
  width : 20%;
  float : left;
  text-align : center;
}

#asked-questions-div .row .clear{
  clear : both;
}
#asked-questions-div .row:nth-of-type(even){
  background-color : #888;
}

#asked-questions-div .row:nth-of-type(odd){
  background-color : #777;
}

#asked-questions-div .stats-button{
  border-color : transparent #228b22 #228b22 transparent;
  border-width : 10px;
  border-style : solid;
  background-color : #1b6f1b;
  color : white;
  text-align : center;
}

/*---- STATS VIEW ----- */
#stats-div{
  background-color : #CCC;
  border-color : transparent #AAA #AAA transparent;
  border-width : 25px;
  border-style : solid;
  overflow-y : scroll;
}

/* 
#stats-div .overflow{
  overflow-y : auto;
  position : absolute;
  bottom : 0;
} */
#stats-div .response{
  width : 17%;
  margin-left : 2%;
  display : inline-block;
  vertical-align : bottom;
  float : left;
}

#stats-div .qText, #stats-div .progress-bar{
  width : 50%;
  float : left;
  margin-left : 2%;
}

#stats-div .category{
  border-top : solid 10px black;
  margin-top : 25px;
  padding-left : 11%;
  width : 100%;
}

#stats-div .description{
  width : 10%;
  float : left;
  border : 1px dashed transparent;
}

#stats-div .progress-bar{
  box-sizing : border-box;
  border-width : 10px;
  border-style : solid;
  border-color : transparent black black transparent;
  height : 75px;
  background-color : transparent;
  position : relative;
}

#stats-div .progress-bar .pos-resp-bar{
  box-sizing : border-box;
  background-color : #F77;
  border-right : 2px solid black;
  position : absolute;
  left : 0;
  height : 100%;
}

#stats-div .progress-bar .neg-resp-bar{
  box-sizing : border-box;
  background-color : #77F;
  border-left : 2px solid black;
  position : absolute;
  right : 0;
  height : 100%;
}

/*---- PROFILE VIEW ----- */
#profile-div{
  background-color : #AAA;
  border-color  : transparent #888 #888 transparent;
  border-width : 25px;
  border-style  : solid;
  height : 100%;
}

#profile-div .split{
  float : left;
  width : 50%;
}

#profile-div .profile-fields h3{  text-align : right;}
#profile-div .profile-values h3{  text-align : left;}

#profile-div .img-row img{
  width : 200px;
  height : 200px;
  border : 5px solid black;
  box-sizing : border-box;
  margin-left : auto;
  margin-right : auto;
}

#profile-div .bottom-half{
  position : absolute;
  top : 250px;
  bottom : 50px;
}

#profile-div .titles .split{
  margin-left : 5%;
  margin-right : 5%;
  border-bottom : 10px solid black;
  width : 40%;
}
#profile-div .bottom-half>div:not(.titles){
  position : relative;
  height : 100%;
  overflow-y : scroll;
}
#profile-div .questions-Row div{
  border-bottom : 5px solid black;
  box-sizing : border-box;
}

#profile-div .row:nth-of-type(even){
  background-color : #888;
}

#profile-div .row:nth-of-type(odd){
  background-color : #777;
}

#profile-div .qText{
  float : left;
  width : 80%;
}

#profile-div .qText h2{
  text-align : left;
}

#profile-div .statsButton{
  border-color : transparent #228b22 #228b22 transparent;
  border-width : 10px;
  border-style : solid;
  background-color : #1b6f1b;
  color : white;
  text-align : center;
  width : 20%;
  float : left;  
}

#profile-div .statsButton h2{
  font-size : 25px;
}